// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

// ===== VARIABLES SCSS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #202020;
$grey-color: #565656;
$purple-color: #6d23ff;
$white-color: #ffffff;

// font body
$font-body: "Space Grotesk", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// letter-spacing
$leading-title: 140%;
$leading-text: 170%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-medium;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLES CSS CLASS =====
.section {
  padding: 8rem 0 4rem;

  &-title {
    font-size: 24px;
    font-weight: $font-bold;
    color: $black-color;
    margin-bottom: $margin-1;
    line-height: $leading-title;
  }

  &-text {
    font-size: 15px;
    color: $grey-color;
    margin-bottom: $margin-2;
    line-height: $leading-text;
  }
}

.button {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: $purple-color;
  font-size: 15px;
  font-weight: $font-medium;
  color: $white-color;
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    font-weight: $font-bold;
    color: $black-color;

    &-icon {
      width: 45px;
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $white-color;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    font-size: 15px;
    color: $grey-color;
    transition: $transition-400;

    &:hover {
      font-weight: $font-medium;
      color: $purple-color;
    }
  }

  &__button {
    margin-top: $margin-1-5;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // show menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    gap: 3rem;
  }

  &__data,
  &__img {
    text-align: center;
    justify-self: center;
  }

  &__title-purple {
    color: $purple-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-input {
      width: 100%;
      height: 55px;
      display: flex;
      padding: 1rem;
      background-color: rgba($color: #000000, $alpha: 0.05);
      font-size: 15px;
      font-weight: $font-medium;
      color: $black-color;
      text-align: center;

      &::placeholder {
        font-size: 15px;
        font-weight: $font-medium;
        color: $grey-color;
      }
    }
  }
}

// ===== PARTNER SECTION =====
.partner {
  &__container {
    gap: 1rem;
  }

  &__data {
    text-align: center;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 2.5rem 1rem;
  }

  &__img {
    width: 120px;
  }
}

// ===== FEATURES SECTION =====
.features {
  &__group {
    gap: 12rem;
  }

  &__content {
    display: grid;
    gap: 3rem;

    &-data,
    &-img {
      justify-self: center;
    }

    &-list {
      display: grid;
      gap: 1rem;
      margin-bottom: $margin-2;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      font-size: 15px;
      color: $grey-color;
    }

    &-icon {
      width: 16px;
      height: 16px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0.2rem;
      background-color: $purple-color;
      border-radius: 50%;
      font-size: 1rem;
      color: $white-color;
    }

    &-button {
      background-color: $white-color;
      border: 2px solid $purple-color;
      color: $purple-color;
    }
  }
}
